<h1>Welcome to my game "Guess the number"</h1>

<div>
    <p>
        This project works with the Number-Challenge-API available on my    
        <a href="https://github.com/Sadogi/Number-Challenge-API" target="_blank">github</a>
    </p>
    <p>
        The goal was to be able to handle returned errors and display whether the searched number is smaller 
        or bigger than the one tried previously. <br /> 
        In addition, the numbers already tried are stored and the user always knows how many tries he has left.
    </p>    
</div>
